## Fehlerbehandlung mit Pandas

Fehler in den Daten selbst beheben

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("Data/PopulationDataFastFertig.csv", delimiter=",", thousands=".", decimal=",", index_col="Country")

In [3]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPop,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-3483990.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-5326870.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,9548060.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-989550.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-2333790.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

### Probleme mit den Daten
Daten selbst:
- Prozentzeichen
- Leere Felder
- N.A.
- Datentypen

#### NaN

isnull(), isna()

notnull(), notna()

In [4]:
data.isnull()  # Boolean Maske Ã¼ber das gesamte Datenset legen, welche NaN Werte findet

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPop,WorldShare
Country,,,,,,,,,,
China,False,False,False,False,False,False,False,False,False,False
India,False,False,False,False,False,False,False,False,False,False
United States,False,False,False,False,False,False,False,False,False,False
Indonesia,False,False,False,False,False,False,False,False,False,False
Pakistan,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
Montserrat,False,False,False,False,False,True,False,False,False,False
Falkland Islands,False,False,False,False,False,True,False,False,False,False
Niue,False,False,False,False,False,True,False,False,False,False
Tokelau,False,False,False,False,False,True,False,False,False,False
Vatican State,False,False,False,False,False,True,False,False,False,False

In [5]:
data.isnull().value_counts()  # value_counts(): ZÃ¤hlt die Einzigartigen Werte in einem Datenset (pro Spalte)

Pop    YearlyChange  NetChange  Density  LandArea  Migrants  FertRate  MedAge  UrbanPop  WorldShare
False  False         False      False    False     False     False     False   False     False         201
                                                   True      False     False   False     False          34
Name: count, dtype: int64

In [6]:
data.fillna(method="ffill")

C:\Users\lk3\AppData\Local\Temp\ipykernel_17464\2321864255.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method="ffill")

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPop,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-3483990.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-5326870.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,9548060.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-989550.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-2333790.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

In [7]:
data.ffill()

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPop,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-3483990.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-5326870.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,9548060.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-989550.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-2333790.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

##### Manuelles FÃ¼llen

In [8]:
b = data["Migrants"].isna()

In [9]:
b

Country
China               False
India               False
United States       False
Indonesia           False
Pakistan            False
                    ...
Montserrat           True
Falkland Islands     True
Niue                 True
Tokelau              True
Vatican State        True
Name: Migrants, Length: 235, dtype: bool

In [10]:
x = data[b]

In [11]:
x["Migrants"] = 0

C:\Users\lk3\AppData\Local\Temp\ipykernel_17464\1602817518.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x["Migrants"] = 0

In [12]:
x

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPop,WorldShare
Country,,,,,,,,,,
Isle of Man,85033,0.53 %,449,149,570,0,N.A.,N.A.,53 %,0.00 %
Andorra,77265,0.16 %,123,164,470,0,N.A.,N.A.,88 %,0.00 %
Dominica,71986,0.25 %,178,96,750,0,N.A.,N.A.,74 %,0.00 %
Cayman Islands,65722,1.19 %,774,274,240,0,N.A.,N.A.,97 %,0.00 %
Bermuda,62278,-0.36 %,-228,1246,50,0,N.A.,N.A.,97 %,0.00 %
Marshall Islands,59190,0.68 %,399,329,180,0,N.A.,N.A.,70 %,0.00 %
Northern Mariana Islands,57559,0.60 %,343,125,460,0,N.A.,N.A.,88 %,0.00 %
Greenland,56770,0.17 %,98,0,410450,0,N.A.,N.A.,87 %,0.00 %
American Samoa,55191,-0.22 %,-121,276,200,0,N.A.,N.A.,88 %,0.00 %
Saint Kitts & Nevis,53199,0.71 %,376,205,260,0,N.A.,N.A.,33 %,0.00 %
Faeroe Islands,48863,0.38 %,185,35,1396,0,N.A.,N.A.,43 %,0.00 %
Sint Maarten,42876,1.15 %,488,1261,34,0,N.A.,N.A.,96 %,0.00 %
Monaco,39242,0.71 %,278,26337,1,0,N.A.,N.A.,N.A.,0.00 %
Turks and Caicos,38717,1.38 %,526,41,950,0,N.A.,N.A.,89 %,0.00 %
Saint Martin,38666,1.75 %,664,730,53,0,N.A.,N.A.,0 %,0.00 %
Liechtenstein,38128,0.29 %,109,238,160,0,N.A.,N.A.,15 %,0.00 %
San Marino,33931,0.21 %,71,566,60,0,N.A.,N.A.,97 %,0.00 %
Gibraltar,33691,-0.03 %,-10,3369,10,0,N.A.,N.A.,N.A.,0.00 %
British Virgin Islands,30231,0.67 %,201,202,150,0,N.A.,N.A.,52 %,0.00 %
Caribbean Netherlands,26223,0.94 %,244,80,328,0,N.A.,N.A.,75 %,0.00 %
Palau,18094,0.48 %,86,39,460,0,N.A.,N.A.,N.A.,0.00 %
Cook Islands,17564,0.09 %,16,73,240,0,N.A.,N.A.,75 %,0.00 %
Anguilla,15003,0.90 %,134,167,90,0,N.A.,N.A.,N.A.,0.00 %
Tuvalu,11792,1.25 %,146,393,30,0,N.A.,N.A.,62 %,0.00 %
Wallis & Futuna,11239,-1.69 %,-193,80,140,0,N.A.,N.A.,0 %,0.00 %
Nauru,10824,0.63 %,68,541,20,0,N.A.,N.A.,N.A.,0.00 %
Saint Barthelemy,9877,0.30 %,30,470,21,0,N.A.,N.A.,0 %,0.00 %
Saint Helena,6077,0.30 %,18,16,390,0,N.A.,N.A.,27 %,0.00 %
Saint Pierre & Miquelon,5794,-0.48 %,-28,25,230,0,N.A.,N.A.,100 %,0.00 %
Montserrat,4992,0.06 %,3,50,100,0,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0,N.A.,N.A.,N.A.,0.00 %

In [13]:
x.index

Index(['Isle of Man', 'Andorra', 'Dominica', 'Cayman Islands', 'Bermuda',
       'Marshall Islands', 'Northern Mariana Islands', 'Greenland',
       'American Samoa', 'Saint Kitts & Nevis', 'Faeroe Islands',
       'Sint Maarten', 'Monaco', 'Turks and Caicos', 'Saint Martin',
       'Liechtenstein', 'San Marino', 'Gibraltar', 'British Virgin Islands',
       'Caribbean Netherlands', 'Palau', 'Cook Islands', 'Anguilla', 'Tuvalu',
       'Wallis & Futuna', 'Nauru', 'Saint Barthelemy', 'Saint Helena',
       'Saint Pierre & Miquelon', 'Montserrat', 'Falkland Islands', 'Niue',
       'Tokelau', 'Vatican State'],
      dtype='object', name='Country')

In [14]:
data.loc[x.index] = x  # Finde alle LÃ¤nder, die fehlerhaft sind (x.index), Ã¼berschreibe die originalen DatensÃ¤tze mit korrekten Daten

In [15]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPop,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-3483990.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-5326870.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,9548060.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-989550.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-2333790.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

### N.A.

Keine automatische LÃ¶sung -> manuell

Hier wird die string Replace Funktion verwendet

In [16]:
data == "N.A."

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPop,WorldShare
Country,,,,,,,,,,
China,False,False,False,False,False,False,False,False,False,False
India,False,False,False,False,False,False,False,False,False,False
United States,False,False,False,False,False,False,False,False,False,False
Indonesia,False,False,False,False,False,False,False,False,False,False
Pakistan,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
Montserrat,False,False,False,False,False,False,True,True,False,False
Falkland Islands,False,False,False,False,False,False,True,True,False,False
Niue,False,False,False,False,False,False,True,True,False,False
Tokelau,False,False,False,False,False,False,True,True,False,False
Vatican State,False,False,False,False,False,False,True,True,True,False

In [17]:
(data == "N.A.").value_counts()

Pop    YearlyChange  NetChange  Density  LandArea  Migrants  FertRate  MedAge  UrbanPop  WorldShare
False  False         False      False    False     False     False     False   False     False         194
                                                             True      True    False     False          28
                                                             False     False   True      False           7
                                                             True      True    True      False           6
Name: count, dtype: int64

Die Fehler mÃ¼ssen in 3 Spalten behoben werden -> Funktion

In [18]:
def fixNA(columnName):
    booleanMaske = data[columnName] == "N.A."
    fehlerZeilen = data[booleanMaske]
    fehlerZeilen[columnName] = 0
    data.loc[fehlerZeilen.index] = fehlerZeilen

In [19]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPop,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-3483990.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-5326870.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,9548060.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-989550.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-2333790.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

In [20]:
fixNA("MedAge")  # Einzelne Spalte reparieren

C:\Users\lk3\AppData\Local\Temp\ipykernel_17464\2376117470.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fehlerZeilen[columnName] = 0

In [21]:
for col in data.columns:  # Alle Spalten reparieren
    fixNA(col)

C:\Users\lk3\AppData\Local\Temp\ipykernel_17464\2376117470.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fehlerZeilen[columnName] = 0
C:\Users\lk3\AppData\Local\Temp\ipykernel_17464\2376117470.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fehlerZeilen[columnName] = 0

In [22]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPop,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-3483990.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-5326870.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,9548060.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-989550.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-2333790.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,0,0,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,0,0,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,0,0,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,0,0,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,0,0,0,0.00 %

### Prozentzeichen

Hier string Replace

In [23]:
data["YearlyChange"].replace(" %", "", regex=True)  # Suche nach " %" und ersetze es durch ""

Country
China               0.39
India               0.99
United States       0.59
Indonesia           1.07
Pakistan            2.00
                    ...
Montserrat          0.06
Falkland Islands    3.05
Niue                0.68
Tokelau             1.27
Vatican State       0.25
Name: YearlyChange, Length: 235, dtype: object

In [24]:
repariert = data["YearlyChange"].replace(" %", "", regex=True)

In [25]:
data["YearlyChange"] = repariert

In [26]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPop,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39,5540090,153,9388211,-3483990.0,1.7,38,61 %,18.47 %
India,1380004385,0.99,13586631,464,2973190,-5326870.0,2.2,28,35 %,17.70 %
United States,331002651,0.59,1937734,36,9147420,9548060.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07,2898047,151,1811570,-989550.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00,4327022,287,770880,-2333790.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06,3,50,100,0.0,0,0,10 %,0.00 %
Falkland Islands,3480,3.05,103,0,12170,0.0,0,0,66 %,0.00 %
Niue,1626,0.68,11,6,260,0.0,0,0,46 %,0.00 %
Tokelau,1357,1.27,17,136,10,0.0,0,0,0 %,0.00 %
Vatican State,801,0.25,2,2003,0,0.0,0,0,0,0.00 %

In [27]:
def fixPct(columnName):
    r = data[columnName].replace(" %", "", regex=True)
    data[columnName] = r

In [28]:
fixPct("UrbanPop")  # Einzelne Spalte reparieren

In [29]:
for col in data.columns:  # Alle Spalten reparieren
    fixPct(col)

In [30]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPop,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39,5540090,153,9388211,-3483990.0,1.7,38,61,18.47
India,1380004385,0.99,13586631,464,2973190,-5326870.0,2.2,28,35,17.70
United States,331002651,0.59,1937734,36,9147420,9548060.0,1.8,38,83,4.25
Indonesia,273523615,1.07,2898047,151,1811570,-989550.0,2.3,30,56,3.51
Pakistan,220892340,2.00,4327022,287,770880,-2333790.0,3.6,23,35,2.83
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06,3,50,100,0.0,0,0,10,0.00
Falkland Islands,3480,3.05,103,0,12170,0.0,0,0,66,0.00
Niue,1626,0.68,11,6,260,0.0,0,0,46,0.00
Tokelau,1357,1.27,17,136,10,0.0,0,0,0,0.00
Vatican State,801,0.25,2,2003,0,0.0,0,0,0,0.00

### Datentypen

Wenn Spalten angepasst werden, behalten sie trotzdem ihren Ursprungstypen

-> Manuell

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pop           235 non-null    int64
 1   YearlyChange  235 non-null    object
 2   NetChange     235 non-null    int64
 3   Density       235 non-null    int64
 4   LandArea      235 non-null    int64
 5   Migrants      235 non-null    float64
 6   FertRate      235 non-null    object
 7   MedAge        235 non-null    object
 8   UrbanPop      235 non-null    object
 9   WorldShare    235 non-null    object
dtypes: float64(1), int64(4), object(5)
memory usage: 28.3+ KB

In [32]:
data.convert_dtypes().info()  # Versucht, Datentypen automatisch zu konvertieren

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pop           235 non-null    Int64
 1   YearlyChange  235 non-null    string
 2   NetChange     235 non-null    Int64
 3   Density       235 non-null    Int64
 4   LandArea      235 non-null    Int64
 5   Migrants      235 non-null    Int64
 6   FertRate      235 non-null    object
 7   MedAge        235 non-null    object
 8   UrbanPop      235 non-null    object
 9   WorldShare    235 non-null    string
dtypes: Int64(5), object(3), string(2)
memory usage: 29.4+ KB

Manuell

Generell Besser

In [33]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPop,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39,5540090,153,9388211,-3483990.0,1.7,38,61,18.47
India,1380004385,0.99,13586631,464,2973190,-5326870.0,2.2,28,35,17.70
United States,331002651,0.59,1937734,36,9147420,9548060.0,1.8,38,83,4.25
Indonesia,273523615,1.07,2898047,151,1811570,-989550.0,2.3,30,56,3.51
Pakistan,220892340,2.00,4327022,287,770880,-2333790.0,3.6,23,35,2.83
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06,3,50,100,0.0,0,0,10,0.00
Falkland Islands,3480,3.05,103,0,12170,0.0,0,0,66,0.00
Niue,1626,0.68,11,6,260,0.0,0,0,46,0.00
Tokelau,1357,1.27,17,136,10,0.0,0,0,0,0.00
Vatican State,801,0.25,2,2003,0,0.0,0,0,0,0.00

In [34]:
data["Pop"] = data["Pop"].astype(np.int32)

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pop           235 non-null    int32
 1   YearlyChange  235 non-null    object
 2   NetChange     235 non-null    int64
 3   Density       235 non-null    int64
 4   LandArea      235 non-null    int64
 5   Migrants      235 non-null    float64
 6   FertRate      235 non-null    object
 7   MedAge        235 non-null    object
 8   UrbanPop      235 non-null    object
 9   WorldShare    235 non-null    object
dtypes: float64(1), int32(1), int64(3), object(5)
memory usage: 27.4+ KB

In [36]:
def fixType(columnName, newType):
    data[columnName] = data[columnName].astype(newType)

In [37]:
fixType("YearlyChange", np.float32)

In [38]:
fixType("NetChange", np.int32)

In [39]:
fixType("Density", np.int16)  # Nach data["Density"].max()

In [40]:
fixType("LandArea", np.int32)

In [41]:
fixType("Migrants", np.int32)

In [42]:
fixType("FertRate", np.float32)

In [43]:
fixType("MedAge", np.int8)

In [44]:
fixType("UrbanPop", np.int8)

In [45]:
fixType("WorldShare", np.float32)

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pop           235 non-null    int32
 1   YearlyChange  235 non-null    float32
 2   NetChange     235 non-null    int32
 3   Density       235 non-null    int16
 4   LandArea      235 non-null    int32
 5   Migrants      235 non-null    int32
 6   FertRate      235 non-null    float32
 7   MedAge        235 non-null    int8
 8   UrbanPop      235 non-null    int8
 9   WorldShare    235 non-null    float32
dtypes: float32(3), int16(1), int32(4), int8(2)
memory usage: 17.3+ KB

In [48]:
17.3 / 27.4  # ~37% Speicherersparnis

0.6313868613138687

In [49]:
data.to_csv("Data/PopulationDataFertig.csv")